[submodule "submodules/Adafruit_NeoPixel"]
	path = submodules/Adafruit_NeoPixel
	url = https://github.com/adafruit/Adafruit_NeoPixel.git
[submodule "submodules/Audio"]
	path = submodules/Audio
	url = https://github.com/PaulStoffregen/Audio.git
[submodule "submodules/Arduino_Makefile_master"]
	path = submodules/Arduino_Makefile_master
	url = https://github.com/xxxajk/Arduino_Makefile_master.git
[submodule "submodules/FastLED"]
	path = submodules/FastLED
	url = https://github.com/FastLED/FastLED.git
